---
import SongBar from "../components/SongBar.jsx";
import Tarjeta from "../components/Tarjeta.jsx";
import Layout from "../layouts/Layout.astro";

const api = await fetch("https://api.institutoalfa.org/api/songs");
const { songs } = await api.json();
---

<Layout>
	<div class="container">
		<div class="biblioteca">
			<h1>lista</h1>
			{
				songs.map((song) => (
					<Tarjeta
						client:visible
						imgUrl={song.image.url}
						titulo={song.title}
						audioUrl={song.audio.url}
					/>
				))
			}
		</div>

		<div class="centro">
			{
				songs.map((song) => (
					<Tarjeta
						client:visible
						imgUrl={song.image.url}
						titulo={song.title}
						audioUrl={song.audio.url}
					/>
				))
			}
		</div>

		<div class="biblioteca">
			<h1>Los Que Estas Escuchando</h1>
						<SongBar client:visible />			
		</div>

		<style>
			.biblioteca {
				background-color: #3e3e3e;
				padding: 30px;
				margin: 0 10px;
				border-radius: 10px;
				width: 30%;
				height: 650px;
				gap: 20px;
			}

			h1 {
				color: #fff;
			}
			.container {
				display: flex;
				justify-content: space-between;
				width: 100%;
			
			}

			.centro {
				background-color: #3e3e3e;
				padding: 30px;
				border-radius: 10px;
				width: 69%;
				height: 650px;
				display: flex;
				flex-wrap: wrap;
				gap: 20px;
			}
		</style>
	</div></Layout
>
